body {
  background-color: #FFF4E2;
}

.boton {
  background-color: #96786F;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 5px;
}

#enviar {
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#enviar:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
#enviar:active {
	position:relative;
	top:1px;
}


#reintentar, #rendirse {
	box-shadow: 0px 10px 14px -7px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#reintentar:hover, #rendirse:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
#reintentar:active, #rendirse:active {
	position:relative;
	top:1px;
}

.boton:hover {
  background-color: #856a62;
}

.box{
  text-align: center;
}

.contenedortext {
  padding: 12px;
}

.input {
  padding: 5px;
}

#cabecera {
  border: 5px dotted black;
  padding: 35px;
  width: 20%;
  margin: 0 auto;
}

form {
  border: 5px dotted black;
  padding: 35px;
  width: 20%;
  margin: 0 auto;
}